{% extends 'index.html' %}

{% block page %}
<div class="drawer md:drawer-open">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <div class="p-5">
      <div class="flex justify-between items-center">
        <label for="my-drawer-2" class="btn border-t-cyan-100 drawer-button md:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </label>
        {% include '/components/panel/navbar.html' %}
      </div>
      {% block content %}{% endblock %}
    </div>
  </div>
  <!-- Sidebar content here -->
  {% include '/components/panel/sidebar.html' %}
</div>
{% endblock %}