{% extends '/layouts/panel.html' %}

{% block title %}Users{% endblock %}

{% block content %}
<section class="flex justify-between items-center">
    <div>
        <h1 class="font-semibold text-xl">Users</h1>
    </div>
</section>

<section class="container mt-10">
    <div class="overflow-x-auto">
        <table class="table w-full">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Full Name</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.full_name }}</td>
                    <td>
                        {% if user.role_ref %}
                        <span class="badge badge-primary">{{ roles_by_id[user.role_ref].name }}</span>
                        {% else %}
                        <span class="badge badge-ghost">No Role</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="users/edit/{{ user.id }}" class="btn btn-primary btn-xs">Edit</a>
                        <a href="users/delete/{{ user.id }}" class="btn btn-error btn-xs">Delete</a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</section>

<section class="container mt-5 flex justify-end">
    <div class="join">
        {% if pag > 1 %}
        <a href="?pag={{ pag - 1 }}&ord={{ ord }}" class="join-item btn">«</a>
        {% else %}
        <button class="join-item btn btn-disabled">«</button>
        {% endif %}

        <button class="join-item btn">Page {{ pag }}</button>

        {% if users|length == 10 %}
        <a href="?pag={{ pag + 1 }}&ord={{ ord }}" class="join-item btn">»</a>
        {% else %}
        <button class="join-item btn btn-disabled">»</button>
        {% endif %}
    </div>
</section>


<script>
    document.addEventListener('alpine:init', () => {
        setTimeout(() => {
            Alpine.store('menu').changeActivate("users")
        }, 100)
    })
</script>
{% endblock %}