<form class="bg-base-100 shadow-xl grid grid-cols-2 w-full">
    <section class="card-body col-span-1">

        <label class="form-control w-full max-w-xs">
            <div class="label">
              <span class="label-text">Description</span>
            </div>
            <textarea type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" > </textarea>
          </label>

          <label class="form-control w-full max-w-xs">
            <div class="label">
              <span class="label-text">Name</span>
            </div>
            <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
          </label>

    </section>
    <section class="card-body">

      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Duration</span>
        </div>
        <select class="input input-bordered w-full max-w-xs" > 
          <option value=""></option>
        </select>
      </label>

      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Role</span>
        </div>
        <select class="input input-bordered w-full max-w-xs" > 
          <option value=""></option>
        </select>
      </label>

    </section>
  </form>