{% set svgs = 'fill-white' %}
{% set style_active = 'text-white font-semibold' %}
{% set style_inactive = 'text-white font-semibold opacity-50 cursor-not-allowed' %}
<script>

    document.addEventListener('alpine:init', () => {
        Alpine.store('menu', {
            items: [],
            activate: "",
            async init() {
                try {
                    const response = await fetch('/admin/menu/list');
                    if (response.ok) {
                        this.items = await response.json();
                    }
                } catch (error) {
                    console.error('Failed to load menu:', error);
                }
            },
            changeActivate(activate) {
                this.activate = activate
            }
        })
    })
</script>
<aside class="drawer-side">
    <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>

    <ul class="menu p-4 w-60 min-h-full bg-primary text-base-content">

        <!-- Dynamic Menu Items -->
        <template x-for="item in $store.menu.items" :key="item.label">
            <li class="flex">
                <a :href="item.route"
                    :class="$store.menu.activate == (item.key || item.label.toLowerCase()) ? 'text-white font-semibold' : 'text-white font-semibold opacity-50 cursor-not-allowed'">
                    <!-- Icon render -->
                    <span x-html="item.icon" class="[&>svg]:w-[24px] [&>svg]:h-[24px] [&>svg]:fill-white"></span>
                    <span x-text="item.label.toUpperCase()"></span>
                </a>
            </li>
        </template>

        <!-- Fallback or empty state could go here -->
    </ul>
</aside>