{% set svgs = 'fill-white' %}
{% set style_active = 'bg-white-10 text-gray-100 font-semibold' %}
{% set style_inactive = 'text-white hover:text-gray-200 hover:bg-white-5 font-medium' %}

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.store('menu', {
            items: [],
            activate: window.location.pathname,
            async init() {
                try {
                    const response = await fetch('/admin/menu/list');
                    if (response.ok) {
                        this.items = await response.json();
                        // Set active item based on current path if not set
                        if (!this.activate) {
                            this.activate = window.location.pathname;
                        }
                        console.log(window.location.pathname);
                    }
                } catch (error) {
                    console.error('Failed to load menu:', error);
                }
            },
            changeActivate(route) {
                this.activate = route;
            },
            isActive(route) {
                return this.activate === route;
            }
        })
    })
</script>

<aside class="drawer-side">
    <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>

    <ul x-data="$store.menu" class="menu p-4 w-60 min-h-full bg-primary text-base-content"
        :class="items.length === 0 ? 'justify-center items-center' : 'space-y-1'">
        <!-- Brand/Logo Area (Optional) -->

        <template x-for="item in items" :key="item.label">
            <li>
                <a :href="item.route" @click="changeActivate(item.route)"
                    class="flex items-center gap-4 px-4 py-3 rounded-lg transition-all duration-200 text-gray-500"
                    :class="isActive(item.route) ? '{{ style_active }}' : '{{ style_inactive }}'">
                    <!-- Icon render -->
                    <span x-html="item.icon" class="[&>svg]:w-6 [&>svg]:h-6 [&>svg]:fill-current"
                        :class="isActive(item.route) ? '' : '{{ svgs }}'"></span>
                    <span x-text="item.label" class="text-sm"></span>
                </a>
            </li>
        </template>

        <!-- Fallback if no items -->
        <template x-if="items.length === 0">
            <li class="w-12 h-12 loading loading-spinner"></li>
        </template>
    </ul>
</aside>